<div class="navbar is-dark">

<div class="navbar-brand">
  <a class="navbar-item">
    LOGO GOES HERE
  </a>
</div>
  <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
          <div class="navbar-end">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
            services
              </a>
              <a class="navbar-item">
                Contact
              </a>
          </div>
            </div>

        </div>


  </div>
