

<div class="navbar is-dark">

<div class="navbar-brand">
  <a class="navbar-item" href="https://pngtree.com/">
    <img src="https://pngtree.com/freepng/barber-shop_4360881.html" width="15" height="28">
  </a>
</div>
  <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
        </div>
          <div class="menu">
          <div class="navbar-end">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
            services
              </a>
              <a class="navbar-item">
                Contact
              </a>
            <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary">
                          <strong>book</strong>
                        </a>
                        <a class="button is-primary">
                          <strong>Sign up</strong>
                        </a>
          </div>
            </div>

        </div>


  </div>
